<!DOCTYPE html>
<html>
    <head>
        <title>Patika Uygulaması</title>
        <script src="{{asset('lucky')}}/scripts/scripts.js')"></script>
        <link rel="stylesheet" href="{{asset('lucky')}}/styles/styles.css" type="text/css" />
    </head>
    <body>
        <p><img src="{{asset('lucky/images/patika-logo.png')}}"/></p>
        <p><h1>Patika uygulamasına hoşgeldiniz!</h1></p>
        <p>Şanslı sayımız: {{number}}</p>
        <p>Günün Sözü: {{message}}</p>
    </body>
</html>
    